body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.300),rgba(0, 0, 0, 0.300)),url(e.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 85vh;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 10px;
}
nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
    border-radius: 10px; /* Curved edges */
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
}
nav a:hover {
    background-color: #555;
}
.feedback-container {
    max-width: 800px;
    margin: 100px auto; 
    padding:20px;
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}
.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
.stars{
margin-top: -10px;
font-size: 28px;
margin-bottom: 10px;
}
.stars i{
    margin: 0 5px;
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: gray;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.stars i:hover{
    color: greenyellow;
}

.stars i.check{
    color: green;
}
button {
    padding: 10px 20px;
    background-color: #45a049;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: green;
}
.clear-button {
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.clear-button:hover {
    background-color: #c82333;
}
.error-message {
    color: #dc3545;
    margin-top: 5px;
}
footer {
    background-color: rgba(51, 51, 51, 0.9);
    color: #fff;
    padding: 5px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a {
    color: #fff;
    text-decoration: none;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 60px; 
    margin-right: 10px;
    transition: transform 0.3s;
}
.logo img:hover {
    transform: scale(1.1); 
}
.logo a {
    text-decoration: none;
    color: inherit;
}
.logo h1 {
margin: 10px;
font-size: 24px;
color: #fff; 
}
.design {
    margin-top: -45px;
    color: #fff;
    text-decoration: none;
}

.social-icons {
    margin-top: 20px;
}

.social-icons img {
    width: 40px;
    margin: 5px; 
}

.social-icons-center {
    display: flex;
    justify-content: center;
}